/* 2.component */
/* .heroSection {
    background: linear-gradient(90deg, white, transparent 70%),url(./assets/images/bakgrImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25rem 0rem;
} */

/* 3.component container */
/* .heroSectionContainer {
    max-width: 1500px;
    margin: auto;
} */
/* 4.row */
/* .heroSectionBody {
    background-color: blanchedalmond;
} */

/* 5.column */
/* .heroSectionBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
}  */

/* 6.subcolumn */
/* .heroSectionBox {
    width: 50%;
} */

/* 7.content container */
/* .heroSectionBox h1 {
    color: #212529;
    font-family:var(--ffSecondary);
    font-size: 7rem;
    font-weight: 900;
} */

/* .heroSectionBox p {
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    font-weight: 400;
    color: #212529;
    padding-bottom: 2rem;
} */

/* .heroSectionBox button {
    background-color: var(--primaryColor);
    padding: 1rem 3rem;
    color: var(--lightColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 400;
    border: none;
}
button:hover {
  background-color: #212529;
  cursor: pointer;
  transition: 0.3s ease;
} */
